.navBar {
    padding: 20px;
    max-width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    margin: 0 auto;
    border-bottom: 1px solid #333;
  }
  
  .navBar h1 {
    color: #ddd3d3;
    background-color: transparent;
  }
  
  .links a {
    font-size: 20px;
    color: #ddd3d3;
    background-color: rgba(0, 0, 0, 0.8);
    text-decoration: none;
  }

  .links a:hover {
    background-color: #3a3939;
    text-decoration: underline;
  }

